<!--The content below is only a placeholder and can be replaced.-->
<html>
<body>

<div style="text-align:center">
  
    <p>

      Noun: <input placeholder="noun" [(ngModel)]="appInputNoun" />
      &nbsp;
      Adverb: <input placeholder="adverb" [(ngModel)]="appInputAdverb" />
     </p>

      <!-- <br> -->
      <!-- <p>&nbsp;</p> -->

    <p class="p2">
      Angular is <input class="userInput" type="text" value = "{{ appInputNoun }}"> fun! &nbsp; &nbsp; &nbsp;
      It is built using the <input class="userInput" type="text" value = "{{ appInputAdverb }}"> design pattern.
    </p>
  


  


  <img width="300" alt="Angular Logo" src="http://3.bp.blogspot.com/-Z-1bXdpIKVs/Vpnc42yOR5I/AAAAAAAAAWw/b6PdrX-SWKg/s1600/First%2Bangularjs%2BApplication%2Bwith%2BMVC%2BBasic%2BExample..jpeg">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

</body>
</html>